@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

html {
  height: 100%;
}

//Custom Variables
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Helvetica Neue", "Segoe UI", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
